.home_conatiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 32px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}